*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    
}
.banner{
    background-image: url(images/banner/banner3.png);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;
    padding: 250px 100px;
}
.banner_text{
    width: 400px;
}
.banner_text h1{
    font-size: 50px;
}
.banner_text p{
    margin: 10px 0;
    font-size: 15px;
}
.banner_text button{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
}

/* section style */
.section1{
   display: flex;
   padding: 200px 150px;
   align-items: center;
   justify-content: space-between;
}
.section1 img{
    height: 650px;
    width: 550;
}
.section1_text{
    height: 400px;
    width: 415px;
    text-align: left;
}
.section1_text h1{
    font-size: 40px;
    font-weight: 700;
}
.section1_text p{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
}
.section1_text ul{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
}
.section2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2_heading{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.my_plan{
    margin-top: 20px;
     display: flex;
    justify-content: center;
} 
.plans{
    padding: 10px;
    margin: 15px;
    text-align: center;
}
